body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background:url("../images/tree.jpg") no-repeat center center ;
    background-size:cover;
    height: 100%;
}

.animate-in {
    -webkit-animation: fadeIn 0.5s ease-in;
    animation: fadeIn 0.5s ease-in;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body,html{
    height: 100%;
}

.box{
    width: 300px;
    padding:40px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.box h1{
    color:white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type="text"], .box input[type="password"]{
    border:0;
    background: none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:2px solid #3498db;
    padding:14px 10px;
    width: 200px;
    outline:none;
    color:white;
    border-radius: 24px;
    transition:0.50s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus{
    width: 280px;
    border-color:#2ecc71;
}

.box input[type="submit"]{
    border:0;
    background: none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:2px solid #2ecc71;
    padding:14px 40px;
    outline:none;
    color:white;
    border-radius: 24px;
    transition:0.25s;
    cursor:pointer;
}

.box input[type="submit"]:hover{
    background-color: #2ecc71;
}

.box a{
    text-decoration: none;
    color:#fff;
    font-family: "montserrat",sans-serif;
    font-size:14px;
    padding:10px;
    transition:0.8s;
}

.box a:hover{
    background: #2ecc71 ;
}

.index{
    width: 300px;
    padding:0px;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

.index a{
    font-family: "montserrat",sans-serif;
    width: 80%;
    text-decoration: none;
    border:0;
    background: none;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight:normal;
    padding:30px;
    outline:none;
    font-size:18px;
    color:white;

    margin:0;
    transition:0.25s;
    cursor:pointer;
}

.index a#one:hover{
    background-color: #2ecc71;
}

.index a#two:hover{
    background-color: #2ecc71;
}



.table{
    white-space: nowrap;
    overflow: hidden;
    padding:40px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;

}


table  th{
    white-space: nowrap;
    overflow: hidden;
    table-layout: fixed;
    padding:15px;
    color: azure;
    font-size:19px;
    cursor:default;
}

table td{
    white-space: nowrap;
    overflow: hidden;
    table-layout: fixed;
    padding:15px;
    color:azure;
    font-size:19px;
    cursor:default;
}

table td:nth-child(5){
    text-decoration: red;
}

.homeKey{
    background: #191919;
    padding:15px;
    margin:15px;
    width: auto;
    float:left;
    text-decoration: none;
    border:0;
    display:block;
    margin: auto;
    text-align: center;
    position:relative;
    padding:14px;
    outline:none;
    color:azure;
    width:100px;

    right: 7%;
    top:85%;
    transition:0.25s;
    cursor:pointer;
    background: #191919;
    float:right;
}

a{
    text-decoration: none;
    font-family: "montserrat",sans-serif;
    font-size:18px;
    font-weight:normal;
    padding:10px;
    transition:0.8s;
}
.homeKey:hover{
    border-color: #2ecc71;
}
a:hover{
    background-color: #2ecc71;
    color:azure;
}